<div class="w-full max-w-md lg:max-w-2xl p-4 text-center">
    <h1 class="text-2xl font-semibold text-white">Easy Presence</h1>
    <div class="bg-white mt-6 p-6 rounded-lg shadow-md border border-gray-300">
        <div id="my-qr-reader" class="p-4 border border-gray-300 rounded-lg">
        </div>
    </div>
</div>
<!-- Snackbar -->
<div
    id="snackbar"
    class="fixed bottom-4 left-1/2 transform -translate-x-1/2 bg-green-600 text-white py-2 px-4 rounded shadow-lg hidden"
>
    QR Code scanned successfully!
</div>
